body {
    padding-top: 10em;
    min-height: 2000px;
  }

/* .menufixed{ */

.myh2 {
  font-family: 'Noto Serif', serif;
  text-shadow: 2px 3px 0 #cc9900;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.myp{
  font-family: 'Pacifico', cursive;
  color: rgb(204, 153, 0);
  font-size: 25px;
  text-shadow: 0.5px 0.5px 0 #ffffff;
}

.myh4{
  font-family: 'Pacifico', cursive;
  color: rgb(204, 153, 0);
  font-size: 25px;
  text-shadow: 0.5px 1px 0 #ffffff;
}
.myh5{
  font-family: 'Pacifico', cursive;
  color: rgb(255, 26, 26);
  font-size: 25px;
  text-shadow: 0.5px 1px 0 #ffffff;
}
.mytext{
  font-family: 'Noto Serif', serif;
}

.badge{
    font-family: 'Noto Serif', serif;
}

.centered-div {
  margin: 0 auto;
  width: 100%;
}
body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-inner {
  padding-left: 0 auto !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-image: url("bg.jpg");
}
.carousel-item > img {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.carousel-control-prev{
   color: black !important;
}
.sr-only{
  color: black !important;
}

@media all and (max-width: 1199px) {
  body {
    padding-top: 12em;
  }
}
@media all and (max-width: 991px) {
  body {
    padding-top: 24em;
  }
}
@media all and (max-width: 768px) {
  body {
    padding-top: 34em;
  }
}
@media all and (max-width: 575px) { }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(255, 255, 204);
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
