.container {
  max-width: 960px;
}

.transparent-container {
  background-color: rgba(255,254,204,0.6) !important;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
.myh2 {
  font-family: 'Noto Serif', serif;
  text-shadow: 2px 3px 0 #cc9900;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
.myp{
  font-family: 'Pacifico', cursive;
  color: rgb(204, 153, 0);
  font-size: 25px;
  text-shadow: 0.5px 0.5px 0 #ffffff;
}
.myh4{
  font-family: 'Pacifico', cursive;
  color: rgb(204, 153, 0);
  font-size: 25px;
  text-shadow: 0.5px 1px 0 #ffffff;
}
.mytext{
  font-family: 'Noto Serif', serif;
}
.badge{
    font-family: 'Noto Serif', serif;
}
